<form id="item-create-form" method="post" action="{% url 'item_create' %}">
  {% csrf_token %}
  <div class="form-row">{{ form.name.label_tag }} {{ form.name }}</div>
  <div class="form-row">{{ form.unit.label_tag }} {{ form.unit }}</div>
  <div class="form-row">{{ form.sell_price.label_tag }} {{ form.sell_price }} تومان</div>
  <div class="form-row">{{ form.group.label_tag }} {{ form.group }}</div>
  <div class="form-row">{{ form.is_consignment.label_tag }} {{ form.is_consignment }}</div>
  <div class="form-row">{{ form.commission_amount.label_tag }} {{ form.commission_amount }} تومان</div>
  <div class="form-row">{{ form.commission_percent.label_tag }} {{ form.commission_percent }} %</div>
  <button type="submit" class="submit-btn btn-lg" style="alignment-baseline: center;">ثبت کالا</button>
</form>
