{% load format_filters %}
{% if transactions %}
  {% for tx in transactions %}
    <tr>
      <td>{{ tx.date_shamsi|to_persian_digits }}</td>
      <td><span class="badge-op {{ tx.op_badge_class }}">{{ tx.op_label }}</span></td>

      <td class="text-clip">
        {% if tx.party %}
          <a href="#" class="party-link" data-party-id="{{ tx.party.id }}" data-party-name="{{ tx.party.name }}">
            {{ tx.party.name }}
          </a>
        {% else %}
          —
        {% endif %}
      </td>

      {% if page_source == "BUYSELL" or page_source == "ALL" %}
        {% if tx.op_type == OP_BUY or tx.op_type == OP_SELL or tx.op_type == OP_USE %}
          <td style="overflow:hidden; white-space:nowrap; text-overflow:ellipsis;">
            <a href="#" class="item-link" data-item-id="{{ tx.item.id }}" data-item-name="{{ tx.item.name }}">
                  {{ tx.item.name }}
            </a>
          </td>

          <td>{{ tx.qty|fa_thousand }}</td>
          <td>{{ tx.unit_price|fa_thousand }}</td>
          <td>{{ tx.total_price|fa_thousand }}</td>
          <td>{{ tx.cogs|fa_thousand }}</td>
        {% else %}
          <td></td>
          <td></td>
          <td></td>
          <td>{{ tx.total_price|fa_thousand }}</td>
          <td></td>
        {% endif %}
      {% else %}
        <td>{{ tx.total_price|fa_thousand }}</td>
      {% endif %}

      {% if tx.description %}
        <td class="text-clip">{{ tx.description }}</td>
      {% else %}
        <td>-</td>
      {% endif %}
    </tr>
  {% endfor %}
{% else %}
  <tr><td colspan="8" class="text-center">هیچ تراکنشی وجود ندارد.</td></tr>
{% endif %}
