table.sales-report {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0 5 5;
  direction: rtl;
  text-align: center;
  background: #f0f8ff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

table.sales-report thead { background: #dbeafe; color: black; }

table.sales-report th, table.report td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

table.sales-report tbody tr:nth-child(odd)  { background: #f0f8ff; }
table.sales-report tbody tr:nth-child(even) { background: #dbeafe; }
table.sales-report tbody tr:hover { background: #bfdbfe; }

table.sales-report td.profit-positive { color: green; font-weight: bold; }
table.sales-report td.profit-negative { color: red; font-weight: bold; }
